@use "./fonts";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;

  &::-moz-focus-inner {
    border: none;
  }
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  background-color: white;
  color: #111111;
  min-width: 230px;
  max-width: 950px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.ant-rate-star.ant-rate-star-full,
.ant-rate-star.ant-rate-star-zero {
  margin-inline-end: 0 !important;
}

.ant-image {
  font-family: "Inter", Arial, sans-serif !important;
  font-size: 12px !important;
}

.ant-image {
  height: 100% !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: white !important;

  &:hover {
    color: white !important;
  }
}

.ant-pagination.ant-pagination-center.ant-pagination-mini .ant-pagination-options {
  display: none !important;
}
